.text_arial_13
{
    font-family: Arial, sans-serif;
    font-size: 13px;

    font-weight: normal;
}

.text_arial_14
{
    font-family: Arial, sans-serif;
    font-size: 14px;

    font-weight: normal;
}

.text_arial_17
{
    font-family: Arial, sans-serif;
    font-size: 17px;

    font-weight: normal;
}

.text_arial_18
{
    font-family: Arial, sans-serif;
    font-size: 18px;

    font-weight: normal;
}

.text_arial_19
{
    font-family: Arial, sans-serif;
    font-size: 19px;

    font-weight: normal;
}

.text_arial_20
{
    font-family: Arial, sans-serif;
    font-size: 20px;

    font-weight: normal;
}

.text_arial_23
{
    font-family: Arial, sans-serif;
    font-size: 23px;

    font-weight: normal;
}

.text_arial_25
{
    font-family: Arial, sans-serif;
    font-size: 25px;

    font-weight: normal;
}

.text_arial_30
{
    font-family: Arial, sans-serif;
    font-size: 30px;

    font-weight: normal;
}

.text_arial_35
{
    font-family: Arial, sans-serif;
    font-size: 30px;

    font-weight: normal;
}