.text_arial_13_lighter
{
    font-family: Arial, sans-serif;
    font-size: 13px;

    font-weight: lighter;
}

.text_arial_14_lighter
{
    font-family: Arial, sans-serif;
    font-size: 14px;

    font-weight: lighter;
}

.text_arial_16_lighter
{
    font-family: Arial, sans-serif;
    font-size: 16px;

    font-weight: lighter;
}

.text_arial_17_lighter
{
    font-family: Arial, sans-serif;
    font-size: 17px;

    font-weight: lighter;
}

.text_arial_18_lighter
{
    font-family: Arial, sans-serif;
    font-size: 18px;

    font-weight: lighter;
}

.text_arial_19_lighter
{
    font-family: Arial, sans-serif;
    font-size: 19px;

    font-weight: lighter;
}

.text_arial_20_lighter
{
    font-family: Arial, sans-serif;
    font-size: 20px;

    font-weight: lighter;
}

.text_arial_22_lighter
{
    font-family: Arial, sans-serif;
    font-size: 22px;

    font-weight: lighter;
}

.text_arial_23_lighter
{
    font-family: Arial, sans-serif;
    font-size: 23px;

    font-weight: lighter;
}

.text_arial_25_lighter
{
    font-family: Arial, sans-serif;
    font-size: 25px;

    font-weight: lighter;
}

.text_arial_30_lighter
{
    font-family: Arial, sans-serif;
    font-size: 30px;

    font-weight: lighter;
}

.text_arial_32_lighter
{
    font-family: Arial, sans-serif;
    font-size: 32px;

    font-weight: lighter;
}

.text_arial_35_lighter
{
    font-family: Arial, sans-serif;
    font-size: 35px;

    font-weight: lighter;
}

.text_arial_40_lighter
{
    font-family: Arial, sans-serif;
    font-size: 40px;

    font-weight: lighter;
}

.text_arial_45_lighter
{
    font-family: Arial, sans-serif;
    font-size: 45px;

    font-weight: lighter;
}

.text_arial_55_lighter
{
    font-family: Arial, sans-serif;
    font-size: 55px;

    font-weight: lighter;
}