.text_arial_13
{
    font-family: Arial, sans-serif;
    font-size: 13px;

    font-weight: normal;
}

.text_arial_14
{
    font-family: Arial, sans-serif;
    font-size: 14px;

    font-weight: normal;
}

.text_arial_16
{
    font-family: Arial, sans-serif;
    font-size: 16px;

    font-weight: normal;
}

.text_arial_17
{
    font-family: Arial, sans-serif;
    font-size: 17px;

    font-weight: normal;
}

.text_arial_18
{
    font-family: Arial, sans-serif;
    font-size: 18px;

    font-weight: normal;
}

.text_arial_19
{
    font-family: Arial, sans-serif;
    font-size: 19px;

    font-weight: normal;
}

.text_arial_20
{
    font-family: Arial, sans-serif;
    font-size: 20px;

    font-weight: normal;
}

.text_arial_22
{
    font-family: Arial, sans-serif;
    font-size: 22px;

    font-weight: normal;
}

.text_arial_23
{
    font-family: Arial, sans-serif;
    font-size: 23px;

    font-weight: normal;
}

.text_arial_24
{
    font-family: Arial, sans-serif;
    font-size: 24px;

    font-weight: normal;
}

.text_arial_25
{
    font-family: Arial, sans-serif;
    font-size: 25px;

    font-weight: normal;
}

.text_arial_26
{
    font-family: Arial, sans-serif;
    font-size: 26px;

    font-weight: normal;
}

.text_arial_27
{
    font-family: Arial, sans-serif;
    font-size: 27px;

    font-weight: normal;
}

.text_arial_30
{
    font-family: Arial, sans-serif;
    font-size: 30px;

    font-weight: normal;
}

.text_arial_32
{
    font-family: Arial, sans-serif;
    font-size: 32px;

    font-weight: normal;
}

.text_arial_33
{
    font-family: Arial, sans-serif;
    font-size: 33px;

    font-weight: normal;
}

.text_arial_35
{
    font-family: Arial, sans-serif;
    font-size: 35px;

    font-weight: normal;
}

.text_arial_40
{
    font-family: Arial, sans-serif;
    font-size: 40px;

    font-weight: normal;
}

.text_arial_45
{
    font-family: Arial, sans-serif;
    font-size: 45px;

    font-weight: bold;
}

.text_arial_55
 {
     font-family: Arial, sans-serif;
     font-size: 55px;

     font-weight: normal;
 }

.text_arial_65
{
    font-family: Arial, sans-serif;
    font-size: 65px;

    font-weight: normal;
}

.text_arial_100
{
    font-family: Arial, sans-serif;
    font-size: 100px;

    font-weight: normal;
}