.text_arial_13_bold
{
    font-family: Arial, sans-serif;
    font-size: 13px;

    font-weight: bold;
}

.text_arial_14_bold
{
    font-family: Arial, sans-serif;
    font-size: 14px;

    font-weight: bold;
}

.text_arial_16_bold
{
    font-family: Arial, sans-serif;
    font-size: 16px;

    font-weight: bold;
}

.text_arial_17_bold
{
    font-family: Arial, sans-serif;
    font-size: 17px;

    font-weight: bold;
}

.text_arial_18_bold
{
    font-family: Arial, sans-serif;
    font-size: 18px;

    font-weight: bold;
}

.text_arial_19_bold
{
    font-family: Arial, sans-serif;
    font-size: 19px;

    font-weight: bold;
}

.text_arial_20_bold
{
    font-family: Arial, sans-serif;
    font-size: 20px;

    font-weight: bold;
}

.text_arial_22_bold
{
    font-family: Arial, sans-serif;
    font-size: 22px;

    font-weight: bold;
}

.text_arial_23_bold
{
    font-family: Arial, sans-serif;
    font-size: 23px;

    font-weight: bold;
}

.text_arial_25_bold
{
    font-family: Arial, sans-serif;
    font-size: 25px;

    font-weight: bold;
}

.text_arial_30_bold
{
    font-family: Arial, sans-serif;
    font-size: 30px;

    font-weight: bold;
}

.text_arial_35_bold
{
    font-family: Arial, sans-serif;
    font-size: 35px;

    font-weight: bold;
}

.text_arial_40_bold
{
    font-family: Arial, sans-serif;
    font-size: 40px;

    font-weight: bold;
}

.text_arial_45_bold
{
    font-family: Arial, sans-serif;
    font-size: 45px;

    font-weight: bold;
}

.text_arial_55_bold
{
    font-family: Arial, sans-serif;
    font-size: 55px;

    font-weight: bold;
}