.text_height_100
{
    line-height: 100%;
}

.text_height_110
{
    line-height: 110%;
}

.text_height_120
{
    line-height: 120%;
}

.text_height_130
{
    line-height: 130%;
}

.text_height_140
{
    line-height: 140%;
}

.text_height_150
{
    line-height: 150%;
}