.white
{
    color: #ffffff;
}

.orange
{
    color: #f7941d;
}

.blue
{
    color: #33a3dc;
}

.gray
{
    color: #4d4d4f;
}

.mod1
{
    color: #5381e9;
}

.mod2
{
    color: #56b741;
}

.mod3
{
    color: #b247ca;
}

.mod4
{
    color: #7643bd;
}

.mod5
{
    color: #d72424;
}

.mod6
{
    color: #f08c28;
}

.mod7
{
    color: #eeca1f;
}

.bg_mod1
{
    background-color: #5381e9;
}

.bg_mod2
{
    background-color: #56b741;
}

.bg_mod3
{
    background-color: #b247ca;
}

.bg_mod4
{
    background-color: #7643bd;
}

.bg_mod5
{
    background-color: #d72424;
}

.bg_mod6
{
    background-color: #f08c28;
}

.bg_mod7
{
    background-color: #eeca1f;
}
