body.defaultBody
{
    background: url("../assets/body/background.jpg") top center no-repeat #fcf5e0;

    min-width: 1200px;
    min-height: 26175px;
}

div.content
{
    width: 1200px;
    margin: 0 auto;

    text-align: center;
}

div.shadow_top
{
    width: 100%;
    height: 44px;

    background-image: radial-gradient(at 50% 0%, rgba(164, 160, 147, 0.5), rgba(164, 160, 147, 0.05) 40%, rgba(164, 160, 147, 0));
}

div.shadow_bottom
{
    width: 100%;
    height: 44px;

    background-image: radial-gradient(at 50% 100%, rgba(164, 160, 147, 0.5), rgba(164, 160, 147, 0.05) 40%, rgba(164, 160, 147, 0));

}

div.module_num
{
    width: 90px;
    height: 90px;

    border-radius: 10px;

    float: left;
    margin-right: 7px;
}

div.module_num h3
{
    font-family: Arial, sans-serif;
    font-size: 76px;

    font-weight: bold;
    color: #ffffff;

    margin-top: 8px;
}

div.module
{
    width: 240px;
    height: 90px;

    border-radius: 10px;
    float: left;
}

div.module h3
{
    font-family: Arial, sans-serif;
    font-size: 45px;

    font-weight: bold;
    color: #ffffff;

    margin-top: 20px;
}

div.quote
{
    width: 900px;
    height: 210px;

    margin-left: 150px;

    text-align: left;
    vertical-align: middle;
}

div.quote img
{
    float: left;
    margin-right: 20px;
    vertical-align: middle;
}

div.quote h3
{
    vertical-align: middle;
}

