div.section17
{
    width: 100%;
    height: 505px;

    border-bottom: 3px dotted #a4a093;
}

img.section17_0
{
    float: left;

    margin-left: 200px;
}

div.section17_1
{
    width: 400px;

    margin-left: 580px;
}