.white
{
    color: #ffffff;
}

.orange
{
    color: #ffdf6a;
}

.orangered
{
    color: #ff5500;
}

.red
{
    color: #ff0000;
}

.graylight
{
    color: #939598;
}

.gray
{
    color: #636466;
}

.black
{
    color: #000000;
}


