.white
{
    color: #ffffff;
}

.orange
{
    color: #ff7800;
}

.blue
{
    color: #3290c8;
}

.bluedark
{
    color: #5766cf;
}

.graylight
{
    color: #939598;
}

.gray
{
    color: #636466;
}

.graydark
{
    color: #414042;
}

.black
{
    color: #000000;
}