.transparent0
{
    opacity: 0.0;
}

.transparent10
{
    opacity: 0.1;
}

.transparent20
{
    opacity: 0.2;
}

.transparent30
{
    opacity: 0.3;
}

.transparent40
{
    opacity: 0.4;
}

.transparent50
{
    opacity: 0.5;
}

.transparent100
{
    opacity: 1;
}