div.default
{
    /*background-color: rgba(239, 244, 234, 0.9);*/
    width: 1005px;
    height: 7600px;

    margin: 0 auto;
    line-height: 120%;

    text-align: center;
}

.debug
{
    background-color: greenyellow;
}

