div.default
{
    width: 1005px;
    height: 7585px;

    margin: 0 auto;
    line-height: 120%;

    text-align: center;
}

div.sections_left
{
    width: 675px;
    height: 6530px;

    float: right;
    padding-right: 0;
}

.debug
{
    background-color: greenyellow;
}

