.orange
{
    color: #ffde40;
}

.orangelight
{
    color: #ffdf7c
}

.orangedark
{
    color: #ff9100;
}

.aqua
{
    color: #75fff4;
}

.aquadark
{
    color: #00c8b7;
}

.greendark
{
    color: #01434d;
}

.gray
{
    color: #a0a3a8;
}

.graydark
{
    color: #2c3241;
}



