body.defaultBody
{
    background: url("../assets/body/background.jpg");

    min-width: 1200px;
    min-height: 2000px;
}

div.bodyFilter
{
    background: rgba(3, 12, 28, 0.7);
    width: 100%;
    height: 100%;

    min-width: 1200px;
    min-height: 2000px;
}

div.content
{
    width: 1200px;
    margin: 0 auto;
}