body.defaultBody
{
    background: url("../assets/body/background.jpg");

    min-width: 1200px;
    min-height: 2000px;
}

/*TODO: remove*/
div.bodyFilter
{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;

    min-width: 1200px;
    min-height: 2000px;
}

div.content
{
    width: 1200px;

    margin: 0 auto;
}