div.section_0
{
    width: 100%;
    height: 728px;
}

div.section_0_photo_0
{
    background: url("../assets/section0/photo0.jpg");

    width: 1200px;
    height: 382px;
}

div.section_0_photo_1
{
    background: url("../assets/section0/photo1.jpg");

    width: 1200px;
    height: 326px;
}

div.section_0_text
{
    background: rgba(255, 255, 255, 0.1);

    width: 100%;
    height: 80px;
}

div.section_0_text_right
{
    width: 400px;
    height: 65px;

    float: right;
}

div.section_0_text_left
{
    width: 550px;
    height: 65px;

    float: right;
}

img.section_0_text_image
{
    float: right;
    padding: 0 50px 0 0;
}